<!-- <form action="" method="post" class="task_form">
    {% csrf_token %}
    <div class="task_form">
        <label for="task">Enter task: </label>
        <input id="task" type="text", name="task">
    </div>
    <div>
        <input type="radio" id="status" name="status"  
        />
        <label for="status">ToDo</label>
        <input type="radio" id="status" name="status"  
        />
        <label for="status">In progress</label>
        <input type="radio" id="status" name="status"  
        />
        <label for="status">Done</label>
    </div>
    <br>
    <a class="btn">
        <button> Submit</button>
        </a>

</form> -->

<form method="POST" action="{% url 'todo_app:add_task' %}" enctype="multipart/form-data" >
    {% csrf_token %}
{{ form }}
<button type="submit"> Submit</button>

</form>