<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>My ToDo list </h2>
</head>
<body>
    {% if latest_task_list %}
            <ul>
            {% for task in latest_task_list %}
                <li><a href="/todo/{{ task.id }}/">{{ task.task_text }} [{{ task.status_text }}]</a>  <a class="'btn" href="/delete/{{task.id}}"><button> Delete </button> </a>
                </li>
            {% endfor %}
            </ul>
<br>
    
    {% else %}
    <p>No tasks are on the list.</p>
    {% endif %}

    <a class="btn" href="{% url 'todo_app:add_task' %}">
        <button> Add task</button>
        </a>
        <br>
</body>
</html>

